.hidden {
  display: none;
}

.modal {
  left: 25%;
}

.modal-header {
  align-content: center;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
  button {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 16px;
  }
}

.modal-footer {
  text-align: center;
  margin: auto auto;
}

.modal-title {
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  padding-top: 5px;
}

.modal-progress {
  height: 8px;
  width: 33%;
 }

.modal-body {
  padding-left: 18%;
  padding-right: 18%;
  label {
    font-weight: lighter;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  input {
    width: 100%;
    border-radius: 3px;
  }
  span {
    font-size: 14px;
    font-weight: lighter;
    vertical-align: bottom;
  }
  .days-label {
    margin-top: 26px;
  }
}

.form-control {
  font-size: 14px;
  padding: 9px 12px;
  height: 24px;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 17px);
}


#costBody {
  .form-control {
    width: 100%;
    padding: 5px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #A4ACB4;
  }
}
